<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>

<body>

    <%- include('partials/header') %>

        <main>
            <aside class="imageAside">
                <h3>Imagen del about</h3>
            </aside>
            <article class="aboutUs">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laudantium necessitatibus ex cum cupiditate
                    voluptas eos eius similique, laboriosam est explicabo exercitationem magni minima? Nisi perferendis
                    fugiat numquam rerum, quam impedit!</p>
            </article>
        </main>

        <%- include('partials/footer') %>