<!DOCTYPE html>
<html lang="en">

<%- include('partials/head') %>
    <title>Ants</title>
</head>

<body>

    <%- include('partials/header') %>

        <main>
            <section class="camponotus_ants">
                <div class="camponotus_text">

                </div>
                <div class="camponotus_ants_available">

                </div>
            </section>
            <section class="pseudomyrmex_ants">
                <div class="pseudomyrmex_text">

                </div>
                <div class="pseudomyrmex_ants_available">

                </div>

            </section>
            <section class="crematogaster_ants">
                <div class="crematogaster_text">

                </div>
                <div class="crematogaster_ants_available">

                </div>

            </section>
        </main>

        <%- include('partials/footer') %>