<!DOCTYPE html>
<html lang="en">

<%- include('partials/head') %>
    <title>Nest</title>
</head>

<body>

    <%- include('partials/header') %>

        <main>
            <section class="camponotus_nest">
                <div class="camponotus_text">

                </div>
                <div class="camponotus_nest_available">

                </div>
            </section>
            <section class="pseudomyrmex_nest">
                <div class="pseudomyrmex_text">

                </div>
                <div class="pseudomyrmex_nest_available">

                </div>

            </section>
            <section class="crematogaster_nest">
                <div class="crematogaster_text">

                </div>
                <div class="crematogaster_nest_available">

                </div>

            </section>
        </main>

        <%- include('partials/footer') %>