<!DOCTYPE html>
<html lang="en">

<%- include('partials/head') %>
    <link rel="stylesheet" href="/css/index.css">
    <title>Mirkwood</title>
    </head>

    <body>

        <%- include('partials/header') %>

            <main>
                <section class="welcome">
                    <div class="text_welcome">
                        <h1>Mirkwood: Tienda de hormigas online</h1>
                        <h4>Venta de hormigueros especializados en hormigas de la madera.</h4>
                        <p>Tienda de hormigas especializada en su cría. Aquí encontrarás todo lo que necesitas para
                            disfrutar al máximo de esta actividad. Entra y elige el modelo de hormiguero que más se
                            ajuste a tus preferencias, así como el resto de accesorios que te ayuden a cubrir todas las
                            necesidades de tus hormigas.</p>
                    </div>
                    <div class="image_welcome">
                       <img class="img-home" src="/images/img-home.jpg" alt="">
                    </div>
                </section>
                <section class="lastAdd">
                    <div class="text_last">
                        <h4>Ultimo añadido</h4>
                    </div>
                    <div class="lastItems">
                        <div>elemento</div>
                        <div>elemento</div>
                        <div>elemento</div>
                    </div>

                </section>
                <section class="payment">
                    <div class="garantee">
                        <div>metodo seguro</div>
                        <div>mejores precios</div>
                        <div>excelete atencion</div>
                    </div>
                    <div class="payment_image">
                        <div>Imagen de payment</div>
                    </div>
                </section>
            </main>

            <%- include('partials/footer') %>