<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head') %>
    <link rel="stylesheet" href="/css/login.css">
    <title>Login</title>
</head>
<body>
    
 <%- include('partials/header') %>

        <main>
            <div class="text_container">
                <div class="text">
                    <h3>Iniciar sesion</h3>
                </div>
            </div>

            <div class="form_container">
                <form action="">
                    <input type="email" name="email" id="email" placeholder="Email">
                    
                    <input type="password" name="password" id="password" placeholder="Password">
                    
                    <button type="submit">Ingresar</button>
                </form>
            </div>


        </main>

<%- include('partials/footer') %>