<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head') %>

   
    <title>Ofertas</title>
</head>
<body>
    
 <%- include('partials/header') %>

        <main>
           <h1>Este serian las ofertas</h1>
        </main>

<%- include('partials/footer') %>