<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head') %>

    <title>register</title>
</head>
<body>
    
 <%- include('partials/header') %>

        <main>
           <h1>Este seria el register</h1>
        </main>

<%- include('partials/footer') %>