body {
    font-family: Arial, Helvetica, sans-serif
}

.text_container {
   
    margin:0;
    border-bottom: 1px solid rgb(204, 202, 202);
}


.text {
    width: 65%;
    margin: auto;
    display: flex;
    align-items: center;
    width: 65%;
    height: 200px;
    font-size: 55px;
}

.about_container {
    display: flex;
    height: 70%;
    margin: auto;
    background-color: rgb(238, 237, 237);
}

.about_text {
    display: flex;
    width: 50%;
    font-size: 20px;
    margin: auto;
    justify-content: center;
}

.about_text p {
    width: 80%;
    height: 80%;
    font-family: Arial, Helvetica, sans-serif
}

.about_img_container{
    width: 50%;
}

.about_img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}



@media (max-width: 769px) {
    .text{
        width: 85%;
    }
    .about_container{
        width: 100%
    }
    body{
        background-image: none;
    }
    .about_img_container{
        display: none;
    }
    .about_text{
        width: 100%;
        padding: 25px 0px;
    }

}