*{
    margin: 0;
    
}
.nav {
    display: flex;
    height: 15vh;
    align-items: center;
    background-color: #dc9122;
    justify-content: space-between;
    text-decoration: none;
    font-size: 19px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    font-family: 'Raleway', sans-serif;
}

.logoImageHeader {
    width: 30%;
    display: flex;
    justify-content: center;
}

.list {
    list-style: none;
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    width: 50%;
    justify-items: center;
    
   
}

.list li {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 100px;
    
}
.list li a {
    color: #000;
    text-decoration: none;
}
.log li a {
    color: #000;
    text-decoration: none;
}
.log{
    list-style: none;
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
    width: 20%;
}









footer{
    display: flex;
    height: 15vh;
    background-color: #252525;
    font-size: 15px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

.content_footer {
    display: flex;
    justify-content: space-around;
    width: 80%;
    height: 80%;
    margin: auto;
}

.media{ 
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}
.icons_media {
    display: flex;
    justify-content: space-around;
    font-size: 25px;
}

.contact { 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 90%;
}
.contact h4 i {
    font-size: 20px;
}

.sections{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 90%;
}