main {
    display: flex;
    flex-direction: column;
    width: 65%;
    margin: auto;
    justify-content: space-around;
    font-family: 'Raleway', sans-serif;
    background-image: url(/src/public/images/fondo-main.jpg);
}




.welcome_container{
    display: flex;
    height: 700px;
    align-items: center;
}

.welcome {
    display: flex;
    height: 387px;
 
}

.text_welcome {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
}
.text_welcome h1 {
    font-size: 60px;
}
.text_welcome h4 {
    font-size: 25px;
}
.image_welcome {
    width: 50%;

}

.img-home {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100px;
}






.lastAdd {
    display: flex;
    flex-direction: column;
    height: 350px;
    justify-content: space-around;
}

.text_last {
    font-size: 25px;
    padding-bottom: 30px;

}

.lastItem {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin-left: 25px;
    border: 1px solid brown;
}







.payment_container {
    display: flex;
    height: 700px;
    align-items: center;
}

.payment {
    display: flex;
    height: 500px;
    justify-content: space-between;
}


.pagoSeguro,.mejoresPrecios , .atencionCliente{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 22%;
    background-color: rgb(204, 202, 202);
    align-items: center;
    border-radius: 18px;
}

.pagoSeguro_icon, .mejoresPrecios_icon, .atencionCliente_icon {
    display: flex;
    align-items: center;
    height: 20%;
    font-size: 35px;
}

.content_PagoSeguro, .content_precios,.content_atencionCliente {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70%;
}
.content_PagoSeguro p ,.content_precios p , .content_atencionCliente p {
    padding: 20px;
    text-align: center;
}


.payment_image {
    display: flex;
    width: 22%;
    align-items: center;
    
}

.payment_image img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
}