body {
    background-image: url("/images/fondo.png");
}
main {
    display: flex;
    flex-direction: column;
    width: 65%;
    margin: auto;
    justify-content: space-around;
    font-family: 'Raleway', sans-serif;
    
}




.welcome_container{
    display: flex;
    height: 700px;
    align-items: center;
}

.welcome {
    display: flex;
    height: 387px;
 
}

.text_welcome {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
   
}
.text_welcome h1 {
    font-size: 60px;
}
.text_welcome h4 {
    font-size: 25px;
}
.text_welcome p {
    padding-right: 80px;
}
.image_welcome {
    width: 50%;

}

.img-home {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 150px;
}







.lastAdd_container{ 
    display: flex;
    height: 400px;
   
}

.lastAdd{
    height: 70%;
    width: 100%
}

.text_last {
    height: 20%;
    font-size: 25px;
    padding-left: 20px;

}

.items_container{
    height: 80%;
    display: flex;
    justify-content: space-around;

}


.item_box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgb(204, 202, 202);
    border-radius: 18px;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    font-size: 16px;
    width: 150px;
   
}

.lastItem_img{
    height: 60%;
    border-radius: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.campo_img{
    display: flex;
    width: 80%;
    height: 80%;
    margin: auto;
    object-fit:cover;
    border-radius: 18px;
}

.lastItem_desciption{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    height: 40%;

}





.payment_container {
    display: flex;
    height: 700px;
    align-items: center;
}

.payment {
    display: flex;
    height: 500px;
    justify-content: space-between;
}


.pagoSeguro,.mejoresPrecios , .atencionCliente{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 22%;
    background-color: rgb(204, 202, 202);
    align-items: center;
    border-radius: 18px;
}

.pagoSeguro_icon, .mejoresPrecios_icon, .atencionCliente_icon {
    display: flex;
    align-items: center;
    height: 20%;
    font-size: 35px;
}

.content_PagoSeguro, .content_precios,.content_atencionCliente {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70%;
}
.content_PagoSeguro p ,.content_precios p , .content_atencionCliente p {
    padding: 20px;
    text-align: center;
}


.payment_image {
    display: flex;
    width: 22%;
    align-items: center;
    
}

.payment_image img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
}





@media (max-width: 1025px) {
    main {
        width: 100%;
    }
    .welcome {
        margin: auto;
        width: 80%
    }
    .text_welcome {
        width: 100%;
    }
    .image_welcome {
        display: none;
    }
    .lastAdd {
        margin: auto;
        width: 80%
    }
    
    .payment_image {
        display: none;
    }
    .payment {
        justify-content: space-around;
        width: 100%;
        
    }
    .pagoSeguro,.mejoresPrecios , .atencionCliente{
        width: 230px;
    }
}

@media (max-width: 769px) {
    .item_box{
        width: 27%;
    }
}

@media (max-width: 425px) {
    .welcome {
        width: 100%;
        height: 80%;
        text-align: center;
    }
    .text_welcome p {
        padding: 0px;
    }
    body{
        background-image: none;
    }
    .payment_container{
        height: 1000px;
    }
    .payment{
        flex-wrap: wrap;
        width: 100%;
        height: 100%;
        justify-content:space-around
    }
    .pagoSeguro,.mejoresPrecios , .atencionCliente{
        width: 45%;
        height: 47%;
    }
    .content_PagoSeguro, .content_precios,.content_atencionCliente{
        height: 90%;
    }
    .item_box {
        width: 45%;
       
    }
}