body {
    font-family: Arial, Helvetica, sans-serif
}

.text_container {
    margin: 0;
    border-bottom: 1px solid rgb(204, 202, 202);
}

.text {
    width: 65%;
    margin: auto;
    display: flex;
    align-items: center;
    width: 65%;
    height: 200px;
    font-size: 55px;
}

.form_container {
    height: 450px;
    width: 65%;
    margin: auto;
    padding: 20px;
    display: flex;
    justify-content: center;
}


form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 90%;
    width: 50%;
    margin: auto;
}


form input {
    padding: 22px;
    width: 80%;
    box-sizing: border-box;
    border: 1px solid #b1afaf;
    border-radius: 6px;
    margin: auto;
}

form input:focus {
    outline: solid 0.5px #dc9122;
}

form button {
    background-color:#dc9122;
    border: 2px solid #dc9122;
    border-radius: 7px;
    font-size: 17px;
    padding: 22px;
    font-weight: bold;
    width: 80%;
    margin: auto;
}

form button:hover {
    cursor: pointer;
}

.register {
    text-align: center;
    font-size: 17px;
    font-weight: bold;
    padding-bottom: 100px;
    
}

.register a {
    color: #000;
}


.validation-err{
    color: rgb(238, 54, 54);
    padding: 0 22px;
    width: 80%;
    margin: 0 auto;
}



@media (max-width: 769px) {
    .text{
        width: 85%;
    }
    .form_container{
        width: 100%;
        padding: 0px;
    }

}
@media (max-width: 425px) {
    .text{
        width: 100%;
    }
    .form_container{
        width: 100%;
        padding: 0px;
    }
    form{
        width: 83%;
    }
}