body {
    font-family: 'Nunito Sans', sans-serif;
}



.text_container {
    margin: 0;
    border-bottom: 1px solid rgb(204, 202, 202);
}


.text {
    width: 65%;
    margin: auto;
    display: flex;
    align-items: center;
    width: 65%;
    height: 200px;
    font-size: 55px;
}

.product_container {
    display: flex;
    height: 70%;
    padding-top: 80px;
    margin: auto;
    width: 65%;
    height: 400px;
}

.image_container {
    width: 50%;
    margin: auto;
    object-fit: contain;
}

.image_product {
    display: flex;
    width: 60%;
    height: 60%;
    object-fit: cover;
    margin:auto
}

.price_container {
    width: 50%;
    padding: 15px;
    border: 2px solid #dc9122;
    border-radius: 15px;
}
.price_product{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90%;
}

.price_product_iva{
    display: flex;
    width: 150px;
    justify-content: space-between;
}
.price_product div h4{
    font-size: 25px;
}
.price_product div h5 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.actions {
    display: flex;
    justify-content: space-between;
}
.carrito{
    display: flex;
    width: 70%;
}
.delete{
    display: flex;
    width: 30%;
    justify-content: space-around;
}

.carrito input, button{
    padding: 8px;
}
.carrito input{
    width: 10%;
    margin-right: 25px;

}


.price_description{
    display: flex;
    flex-direction: column;
    height: 70%;
    justify-content: space-between;
}
.description_container {
    width: 65%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 250px;
}


.description {
    display: flex;
    flex-direction: column;
    height: 80%;
    justify-content: space-between;
}

.description_text{
    border-bottom: 1px solid rgb(204, 202, 202);
}






@media (max-width: 769px) {
    .text ,.product_container,.description_container{
        width: 85%;
    }

}

@media (max-width: 425px) {
    body{
        width: 100%;
        height: 80%;
        text-align: center;
        background-image: none;
    }
    .product_container{
        flex-direction: column;
        padding: 8px;
        height: 600px;
    }
    .image_container{
        padding-top: 60px;
        height: 30%;
    }
    .price_container{
        width: 100%;
        height: 70%;
        border: none;
        border-bottom: 1px solid rgb(204, 202, 202);
        border-top: 1px solid rgb(204, 202, 202);
    }
    .price_product form {
       
    }
    .description_container{
        height: 400px;
    }
  
}