<footer>
    <div class="content_footer">
        <div class="media">
            <div class="icons_media">
                <i class="fa-brands fa-square-instagram"></i>
                <i class="fa-brands fa-square-facebook"></i>
                <i class="fa-brands fa-square-x-twitter"></i>
            </div>
            <h4>mirkwood © Copyright 2023.<br>Diseño web realizado por Borham.</h4>
        </div>

        <div class="contact">
            <h4><i class="fa-solid fa-mobile"></i> 4455-5488 </h4>
            <h4><i class="fa-solid fa-envelope"></i> mirkwood@contacto.com</h4>
            <h4><i class="fa-solid fa-location-dot"></i>San Miguel, Buenos Aires.</h4>
        </div>

        <div class="sections">
            <h4>Envios y devoluciones</h4>
            <h4>Politica de privacidad.</h4>
            <h4>Mapa del sitio</h4>
        </div>
    </div>
</footer>
</body>

</html>