<footer>
    <div class="logoImageFooter">
        <h2>Aca va la imagen jeje</h2>
    </div>
    <div class="infoFooter">
        <div class="socialMedia">
            <h3>Instagram</h3>
            <h3>Facebook</h3>
            <h3>Tweeter</h3>
        </div>
        <div class="contact">
            <div>Telefono</div>
            <div>mail</div>
            <div>Ubicacion</div>
        </div>
        <div class="rights">
            <h5>Todos los derechos resevados jeje</h5>
        </div>
    </div>
</footer>
</body>

</html>