<header>
    <nav class="nav">
        <div class="logoImageHeader">
            <H1>Mirkwood</H1>
        </div>
        <ul class="list">
            <li><a href="../">Home</a></li>
            <li><a href="../hormigas">Hormigas</a></li>
            <li><a href="../hormigueros">Hormigueros</a></li>
            <li><a href="../ofertas">Ofertas</a></li>
            <li><a href="../about">About</a></li>            
        </ul>
        <ul class="log">
            <li><a href="../login"><i class="fa-solid fa-user"></i></a></li>
            <li><a href="../carrito"><i class="fa-solid fa-cart-shopping"></i></a></li>
        </ul>
    </nav>
</header>