<header>
    <div class="logoImageHeader">
        <H1>Mirkwood</H1>
    </div>
    <nav class="nav">
        <ul>
            <li>Home</li>
            <li>Hormigas</li>
            <li>Hormigueros</li>
            <li>Ofertas</li>
            <li>About</li>
            <li>Loggin</li>
            <li>Carrito</li>
        </ul>
    </nav>
</header>