<header>
    <nav class="nav">
        <div class="logoImageHeader">
            <H1>Mirkwood</H1>
        </div>
        <ul class="list">
            <li><a href="/">Home</a></li>
            <li><a href="/hormigas">Hormigas</a></li>
            <li><a href="/hormigueros">Hormigueros</a></li>
            <li><a href="/ofertas">Ofertas</a></li>
            <li><a href="/about">About</a></li>            
        </ul>
        <ul class="log">
            <li><a href="/users/login"><i class="fa-solid fa-user"></i></a></li>
            <% if (locals.isLogged) { %>
                <li><a href="/users/logout"><i class="fa-solid fa-right-from-bracket"></i></a></li>
            <% } %>
            <li><a href="/cart"><i class="fa-solid fa-cart-shopping"></i></a></li>
        </ul>
    </nav>
</header>